/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}
/* Heading styles */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Form styles */
form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.container {
  display: flex;
  flex-direction: column; /* 垂直排列子元素 */
  justify-content: flex-start; /* 顶部对齐 */
  align-items: center;
  height: 100vh; /* 使容器占据整个视口高度 */
}

.header {
  width: 100%;
  display: flex;
  justify-content: center; /* 水平居中 */
}

.add-book {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.book-list {
  margin-top: 20px; /* 添加顶部间距 */
  max-width: 600px; /* 设置最大宽度 */
  width: 100%; /* 让内容自适应宽度 */
  position: relative; /* 相对定位，使 Add Book 按钮相对于 book-list 进行定位 */
}

.add-book button {
  position: relative;
  top: 0; /* 顶部对齐 */
  left: 0; /* 右对齐 */
}


.book-list ul {
  list-style-type: none; /* 去掉列表项前面的黑色小点 */
}



.book-item {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.book-item h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.book-item p {
  margin-bottom: 10px;
}

.confirmation-box {
  border: 1px solid #000;
  padding: 20px;
}
